@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Great+Vibes|Norican|Sail");
@import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../../node_modules/toastr/build/toastr.min.css);
@import url(../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css);
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, main, button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  -webkit-appearance: none; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

body, html {
  font-family: Tajawal;
  font-size: 19px; }

img {
  max-width: 100%; }

.form-group.required label:after {
  content: " *";
  color: red; }

button {
  background-color: #f5deb3;
  color: #555;
  border: none;
  font-weight: bold; }

h1, h2, h3 {
  color: #c52d2f;
  text-transform: uppercase; }

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem; }

h2 {
  text-align: center;
  font-size: 2rem; }

.text-bold {
  font-weight: bold; }

a {
  color: #f5deb3; }

nav {
  padding: 1rem 1em; }

.navbar li:hover {
  background-color: #ddd; }
  .navbar li:hover a {
    color: #fff; }

.navbar li a {
  color: #888; }

.navbar li:not(.active) a {
  padding-top: calc(0.5rem + 4px); }

.navbar li.active {
  color: #888;
  border-top: 4px solid #f5deb3;
  background-color: #f8f8f8; }

.navbar-nav {
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-right span {
  color: #888; }

table.table-condensed {
  width: 315px; }

.nav-bot {
  height: 138px;
  background-color: #f8f8f8;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) inset, 0 -5px 15px 0 rgba(0, 0, 0, 0.05) inset;
  padding: 2rem 0; }
  @media (max-width: 767px) {
    .nav-bot {
      display: none !important;
      padding: 0; } }
  .nav-bot.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%; }
    .nav-bot.sticky + main {
      padding-top: 138px; }
      @media (max-width: 767px) {
        .nav-bot.sticky + main {
          padding-top: 344.6px; } }
  .nav-bot .grid {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
    @media (max-width: 767px) {
      .nav-bot .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
        grid-template-rows: repeat(6, 1fr); } }
    .nav-bot .grid .input1 {
      grid-area: 1 / 1 / 2 / 2; }
      @media (max-width: 767px) {
        .nav-bot .grid .input1 {
          grid-area: 1 / 1 / 2 / 2; } }
    .nav-bot .grid .input2 {
      grid-area: 1 / 2 / 2 / 3; }
      @media (max-width: 767px) {
        .nav-bot .grid .input2 {
          grid-area: 2 / 1 / 3 / 2; } }
    .nav-bot .grid .input3 {
      grid-area: 1 / 3 / 2/ 4; }
      @media (max-width: 767px) {
        .nav-bot .grid .input3 {
          grid-area: 3 / 1 / 4 / 2; } }
    .nav-bot .grid .input4 {
      grid-area: 2 / 1 / 3 / 3; }
      @media (max-width: 767px) {
        .nav-bot .grid .input4 {
          grid-area: 4 / 1 / 5 / 2; } }
    .nav-bot .grid .input5 {
      grid-area: 2 / 3 / 3/ 5; }
      @media (max-width: 767px) {
        .nav-bot .grid .input5 {
          grid-area: 5 / 1 / 6 / 2; } }
    .nav-bot .grid .grid-button {
      grid-area: 1 / 4 / 2 / 5; }
      @media (max-width: 767px) {
        .nav-bot .grid .grid-button {
          grid-area: 6 / 1 / 7 / 2; } }
  .nav-bot form {
    width: 100%; }
    .nav-bot form .input-group {
      margin: 0.25rem 0; }
      .nav-bot form .input-group .input-group-text {
        background-color: #f5deb3;
        border: none; }
    .nav-bot form .hideForm {
      display: none; }
  .nav-bot span.input-group-text {
    width: 47px; }

.footer {
  padding: 2rem 0;
  background: #aa9a88;
  color: #f7f1e3; }
  .footer a {
    color: #f7f1e3; }
  .footer p {
    background: inherit; }
  .footer ul {
    list-style: none;
    margin: 0; }
  .footer .form-group {
    width: 100%; }

#social-network {
  margin-top: 1rem; }
  #social-network svg {
    max-width: 3.5rem;
    fill: #fff; }

#myCarousel a {
  color: #f5deb3; }
  #myCarousel afocus {
    box-shadow: 0 0 0 0.2rem wheat; }

#myCarousel .carousel-caption {
  color: #555;
  background-color: #fff;
  text-align: left; }

#galerie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0; }

#galerie header {
  width: 100%; }
  #galerie header h2 {
    width: 100%;
    color: #c52d2f; }

#galerie > section:nth-child(even) {
  background: #f5deb3; }

#map {
  /*height: 250px*/ }
  @media (max-width: 767px) {
    #map {
      height: 300px; } }

#contact-panel address {
  margin-bottom: 0; }

#contact-panel textarea {
  resize: none;
  height: 195px; }

@media (max-width: 767px) {
  #contact-panel #formContact {
    margin: 0.5rem 0; } }

.carte {
  color: #c52d2f; }

.carte-title {
  color: #c52d2f;
  width: 100%;
  text-align: center;
  text-style: underline; }

.carte-content {
  width: 100%; }
  .carte-content:hover {
    background-color: #f8f8f8; }

.carte-header {
  color: #c52d2f;
  text-transform: uppercase;
  padding: 1%;
  width: 60%;
  text-align: center; }

.carte-body {
  color: #888; }
  .carte-body p.item-text, .carte-body p.text-right {
    font-weight: bold;
    margin-bottom: 0; }
  .carte-body:hover {
    background-color: #f8f8f8; }

.menu-title {
  color: #c52d2f; }

small {
  font-style: italic; }

.review-slider {
  text-align: center;
  margin: 2rem auto;
  position: relative; }
  .review-slider h3 {
    font-family: Great Vibes,sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: none;
    color: #000; }
  .review-slider__quotes {
    z-index: 0;
    opacity: .2;
    position: absolute;
    width: 200px;
    transform: rotate(180deg);
    left: calc(50% - 100px);
    top: 80px; }
  .review-slider__author {
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem; }
    .review-slider__author-sub {
      color: darkgrey;
      font-weight: 900; }
      .review-slider__author-sub a {
        color: wheat; }

.glide {
  text-align: center; }
  .glide__arrow {
    background: wheat; }
  .glide__arrow--right {
    right: -70px; }
  .glide__arrow--left {
    left: -70px; }
  .glide__bullets {
    bottom: -1rem; }
  .glide__bullet {
    width: 12px;
    height: 12px;
    background: wheat; }
    .glide__bullet:hover {
      background-color: #a74d45; }
    .glide__bullet--active {
      background-color: #a74d45; }

.carousel {
  margin-bottom: 0; }

/*# sourceMappingURL=default.css.map */
