@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, main, button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  -webkit-appearance: none; }

img {
  max-width: 100%; }

.form-group.required label:after {
  content: " *";
  color: red; }

.btn-primary {
  background-color: wheat;
  color: #888;
  border: none; }

#map {
  height: 250px; }
  @media (max-width: 767px) {
    #map {
      height: 300px; } }

#contact-panel address {
  margin-bottom: 0; }

#contact-panel textarea {
  resize: none;
  height: 95px; }

<<<<<<< HEAD
@media (max-width: 767px) {
  #contact-panel #formContact {
    margin: 0.5rem 0; } }
=======
.carte {
  color: #c52d2f;
  text-align: justify; }

.carte-title {
  color: #c52d2f;
  width: 100%;
  text-align: center; }

.carte-content {
  width: 100%; }

.carte-header {
  color: #888;
  background-color: wheat;
  text-transform: uppercase;
  padding: 1%;
  border-radius: 10px;
  width: 60%; }

.carte-body .item-text {
  font-weight: bold;
  border-bottom: 1px solid; }

.carte-menu {
  border-right: 1px solid;
  text-align: center; }

.carte-header {
  text-align: center; }

.carte-menu p {
  font-weight: bold; }
>>>>>>> feature/feature5

nav {
  padding: 1rem 1em; }

<<<<<<< HEAD
.navbar li:hover {
  background-color: #ddd; }
  .navbar li:hover a {
    color: #fff; }
=======
.navbar li:hover a {
  color: #fff;
  background-color: #ddd; }
>>>>>>> feature/feature5

.navbar li a {
  color: #888; }

.navbar li:not(.active) a {
  padding-top: calc(0.5rem + 4px); }

.navbar li.active {
  color: #888;
  border-top: 4px solid wheat;
  background-color: #f8f8f8; }

<<<<<<< HEAD
.navbar-nav {
=======
ul.navbar-nav {
>>>>>>> feature/feature5
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-right span {
  color: #888; }

.nav-bot {
  background-color: #f8f8f8;
<<<<<<< HEAD
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) inset, 0 -5px 15px 0 rgba(0, 0, 0, 0.05) inset;
  padding: 2rem 0; }
  @media (max-width: 767px) {
    .nav-bot {
      padding: 0; } }
  .nav-bot.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%; }
  .nav-bot form {
    width: 100%; }
    .nav-bot form .input-group {
      margin: 0.25rem 0; }
      .nav-bot form .input-group .input-group-text {
        background-color: wheat;
        border: none; }
=======
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) inset, 0 -5px 15px 0 rgba(0, 0, 0, 0.05) inset; }

.input-group .input-group-prepend .input-group-text {
  background-color: wheat;
  border: none; }
>>>>>>> feature/feature5

footer {
  padding: 2rem 0;
  background: #2c2c54;
  color: #f7f1e3; }
  footer a {
    color: #f7f1e3; }
  footer p {
    background: inherit; }
  footer ul {
    list-style: none;
    margin: 0; }

#social-network svg {
  max-width: 4rem;
  fill: #fff; }

/* TODO find a way to import node_modules */

/*# sourceMappingURL=default.css.map */
