@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  background: red; }

p {
  background: #f5f8fa; }

img {
  max-width: 100%; }

.form-group.required label:after {
  content: " *";
  color: red; }

@media (max-width: 767px) {
  #map {
    height: 400px; } }

footer {
  padding: 2rem 0;
  background: #2c2c54;
  color: #f7f1e3; }
  footer a {
    color: #f7f1e3; }
  footer p {
    background: inherit; }
  footer ul {
    list-style: none;
    margin: 0; }

#social-network svg {
  max-width: 4rem;
  fill: #fff; }

/* TODO find a way to import node_modules */
