.carte
	color: #c52d2f
	text-align: justify

.carte-title
	color: #c52d2f
	width: 100%
	text-align: center

.carte-content
	width: 100%
	&:hover
		background-color: #f8f8f8

.carte-header
	color: #c52d2f
	text-transform: uppercase
	padding: 1%
	width: 60%
	text-align: center

.carte-body
	color: #888
	.item-text
		font-weight: bold
	p.text-right
		font-weight: bold
	&:hover
		background-color: #f8f8f8

small
	font-style: italic

.row
	margin-right: 0