.carte
	color: $secondary

.carte-title
	color: $secondary
	width: 100%
	text-align: center
	text-style: underline

.carte-content
	width: 100%
	&:hover
		background-color: #f8f8f8

.carte-header
	color: $secondary
	text-transform: uppercase
	padding: 1%
	width: 60%
	text-align: center

.carte-body
	color: #888
	p.item-text, p.text-right
		font-weight: bold
		margin-bottom: 0
	&:hover
		background-color: #f8f8f8

.menu-title
	color: $secondary

small
	font-style: italic
