#carte
	h1, h2, h3, h4
		color: $secondary
		font-family: 'Alegreya Sans'

.carte
	color: $secondary

.carte-title
	color: $secondary
	width: 100%
	text-align: center
	text-style: underline

.carte-content
	width: 100%
	&:hover
		background-color: #f8f8f8

h2.carte-header
	color: $secondary
	text-transform: uppercase
	width: 60%
	text-align: center
	font-size: 1.4rem

.carte-body
	color: #888
	p.item-text, p.text-right
		font-weight: bold
		margin-bottom: 0
	&:hover
		background-color: #f8f8f8

.menu-title
	color: $secondary

small
	font-style: italic
