footer
    padding: 2rem 0
    background: #2c2c54
    color: #f7f1e3
    a
        color: #f7f1e3
    p
        background: inherit
    ul
        list-style: none
        margin: 0
#social-network
    svg
        max-width: 4rem
        fill: #fff
