body, html
	font-family: Tajawal !important
	font-size: 19px
img
    max-width: 100%
.form-group
    &.required
        label:after
            content: " *"
            color: red
button
	background-color: wheat
	color: #555
	border: none
	font-weight: bold

h1.title
	color: #c52d2f !important
	width: 100%
	text-align: center
	text-transform: uppercase

h2.header
	color: #c52d2f !important
	text-transform: uppercase
	padding: 1%
	width: 60%
	text-align: center

.text-bold
	font-weight: bold