nav
    padding: 1rem 1em

.navbar
    li
        &:hover
            a
                color: #fff
                background-color: #ddd
        a
	        color: #888
        &:not(.active)
            a
                padding-top: calc(0.5rem + 4px)
        &.active
        	color: #888
        	border-top: 4px solid wheat
        	background-color: #f8f8f8

.navbar-nav
    font-size: 14px
    color: #888
    text-transform: uppercase
    font-weight: bold

.navbar-right
    span
        color: #888

.nav-bot
    background-color: #f8f8f8
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset
    padding: 2rem 0
    @media(max-width: 767px)
        padding: 0
    &.sticky
        position: fixed
        top: 0
        z-index: 999
        width: 100%
    form
        width: 100%
        .input-group
            margin: 0.25rem 0
            .input-group-text
            	background-color: wheat
            	border: none
